html,body{
    overflow-x:hidden
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color:#000;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-family: 'Work Sans',Roboto Condensed;
    
}

.row{
    max-width: 1140px;
    margin:0 auto;
}

header{
    background-image: linear-gradient(rgba(0,0,0,.5),rgb(0,0,0,.6)),url(img/Img4.PNG);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo{
    height: 20px;
    margin-bottom: 9px;
}

.header-box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h2{
    font-size: 400%;
    color: #fff;
    font-weight: 200;
    margin-bottom: 20px;
}
h1{
    font-size: 600%;
    color: #fff;
}

.obj-heading{
    font-size: 300%;
    color:black; 
    margin-top:50px ;
    text-align:center
}

.obj-heading:after{
    display: block;
    height:2px;
    width:100px;
    background-color:#4169E1;
    content:" ";
    margin:30px auto 0 auto;
}

.obj-para{
    margin-top:30px;
    margin-bottom:50px;
    font-size: 150%;
    margin-left:30px;
    margin-right:30px;
}

.img1{
    width:80%;
    height: 80%;
    text-align: left;
    
}

.eventd-heading{
    font-size: 300%;
    color:black; 
    margin-top:50px;
    text-align: center;
}

.eventd-heading:after{
    display: block;
    height:2px;
    width:100px;
    background-color:#4169E1;
    content:" ";
    margin:30px auto 0 auto;
}

.description-section{
    background-color: #f4f4f4;
}

.event-para{
    margin-top:20px;
    font-size:150%;
    margin-left:30px;
    margin-right: 30px;
}

.event-list{
    font-size:130%;
    margin-bottom: 50px
}

.event-list li{
    margin-left:30px;
    margin-right: 30px;
    
}

.structure-heading{
    font-size: 300%;
    color:black; 
    margin-top:50px;
    text-align: center;
}

.structure-heading:after{
    display: block;
    height:2px;
    width:100px;
    background-color:#4169E1;
    content:" ";
    margin:30px auto 0 auto;
}

.structure-section{
    margin-bottom: 20px;
}
.rules-heading{
    font-size: 300%;
    color:black; 
    margin-top:50px;
    text-align: center;
}

.rules-heading:after{
    display: block;
    height:2px;
    width:100px;
    background-color:#4169E1;
    content:" ";
    margin:30px auto 0 auto;


}

.para1 li{
    margin-top:5px;
    font-size:140%;
    margin-left: 30px;
}


.img4{
    margin-top: 30px;
    width:100%;
    margin-bottom: 30px;
}

.img5{
    margin-top: 30px;
    width:100%;
    margin-bottom: 30px;
}

.team-heading{
    font-size: 300%;
    color:black; 
    margin-top:50px ;
    margin-left:30px;
    text-align: center;
}

.team-heading:after{
    display: block;
    height:2px;
    width:100px;
    background-color:#4169E1;
    content:" ";
    margin:30px auto 0 auto;
}

.team-para{
    font-size: 150%;
    color:#4169E1;
    text-align:center;
    margin-top: 10px;
    margin-bottom:60px

}

.fee-section{
    background-color:#f4f4f4;
}


.Faq-heading{
    font-size: 300%;
    color:black; 
    margin-top:50px;
    text-align: center;
}
.faq-question{
    font-size: 130%;
    margin-left:60px;
    margin-right:30px;
}

.faq-text{
    font-size: 130%;
    color: #4169E1;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right:30px;
}

.Faq-heading:after{
    display: block;
    height:2px;
    width:100px;
    background-color:#4169E1;
    content:" ";
    margin:30px auto 0 auto;
}

footer{
    background-color: #000000;
    padding-bottom:100px;
    margin-top: 8%;
}

.footer-para{
    font-size: 130%;
    color: #fff;
    margin-top:4%;
    text-align:right;
    margin-right:30%
}

.links li{
    list-style:none;
    display:inline-block;
    margin-left:2%;
}

.links li a:link,
.links li a:visited{
    color:#fff;
    text-decoration: none;
    font-size:200%
}

.links{
    float:center;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-linkedin,
.fa-instagram-square{
    transition: 0.2s;
}

.fa-facebook-square:hover{
    color:#3b5998
}

.fa-twitter-square:hover{
    color: #1da1f2;
}

.fa-instagram-square:hover{
    color:#c32aa3 ;
}

.fa-linkedin:hover{
    color: #0a66c2;
}

main {
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    flex-flow: row;
    align-content: space-around;
    justify-content: center;
    margin: 3em auto 5em auto;
}

article {
    position: relative;
    background-color: white;
    height: 100%;
    border-radius: 0.25em;
    padding: 2em;
    padding-bottom: 1.2em;
    margin: 1em;
    box-shadow: 0em 0em 1.5em rgba(0,0,0,.1);
    overflow: hidden;
    transition: ease;
    transition-duration: .6s;
}

article:hover {
    cursor: pointer;
}


/* TARJETA 2 */
#t1:hover {
    box-shadow: 0 .2em .2em #afafaf;
    transform: scale(.97);
    transition: ease;
    transition-duration: .4s;
}

#t1:hover section:nth-child(2) svg {
    transform: scaleY(.1) translate(16em);
    transition: ease;
    transition-duration: .2s;
    transition-delay: .1s;
}

#t1:hover section:nth-child(2) h1 {
    transform: scaleY(.1) translate(16em);
    transition: ease;
    transition-duration: .2s;
    transition-delay: .2s;
}

#t1:hover section:nth-child(2) p {
    transform: scaleY(.1) translate(16em);
    transition: ease;
    transition-duration: .2s;
    transition-delay: .3s;
}

#t1:hover section:nth-child(2) p.calculate {
    transform: scaleY(.1) translate(16em);
    transition: ease;
    transition-duration: .2s;
    transition-delay: .4s;
}

#t1 section:nth-child(2) svg, 
#t1 section:nth-child(2) h1, 
#t1 section:nth-child(2) p, 
#t1 section:nth-child(2) p.calculate {
    transition: ease;
    transition-duration: .4s;
    transition-delay: .2s;
}

#t1 section:first-child {
    border-radius: 20em;
    top: 0;
    left: 100%;
    scale: .2;
}

#t1:hover section:first-child {
    opacity: 1;
    top: 0;
    transition-delay: .6s;
    border-radius: 0.25em;
    left: 0;
}

#t2:hover {
    box-shadow: 0 .2em .2em #afafaf;
    transform: scale(.97);
    transition: ease;
    transition-duration: .4s;
}

#t2:hover section:nth-child(2) svg {
    transform: scaleY(.1) translate(16em);
    transition: ease;
    transition-duration: .2s;
    transition-delay: .1s;
}

#t2:hover section:nth-child(2) h1 {
    transform: scaleY(.1) translate(16em);
    transition: ease;
    transition-duration: .2s;
    transition-delay: .2s;
}

#t2:hover section:nth-child(2) p {
    transform: scaleY(.1) translate(16em);
    transition: ease;
    transition-duration: .2s;
    transition-delay: .3s;
}

#t2:hover section:nth-child(2) p.calculate {
    transform: scaleY(.1) translate(16em);
    transition: ease;
    transition-duration: .2s;
    transition-delay: .4s;
}

#t2 section:nth-child(2) svg, 
#t2 section:nth-child(2) h1, 
#t2 section:nth-child(2) p, 
#t2 section:nth-child(2) p.calculate {
    transition: ease;
    transition-duration: .4s;
    transition-delay: .2s;
}

#t2 section:first-child {
    border-radius: 20em;
    top: 0;
    left: 100%;
    scale: .2;
}

#t2:hover section:first-child {
    opacity: 1;
    top: 0;
    transition-delay: .6s;
    border-radius: 0.25em;
    left: 0;
}

/* TARJETA 3 */

#t3:hover {
    box-shadow: 0 .2em .2em #afafaf;
    transform: scale(.97);
    transition: ease;
    transition-duration: .4s;
}

#t3:hover section:nth-child(2) svg {
    transform: scaleY(.1) translate(16em);
    transition: ease;
    transition-duration: .2s;
    transition-delay: .1s;
}

#t3:hover section:nth-child(2) h1 {
    transform: scaleY(.1) translate(16em);
    transition: ease;
    transition-duration: .2s;
    transition-delay: .2s;
}

#t3:hover section:nth-child(2) p {
    transform: scaleY(.1) translate(16em);
    transition: ease;
    transition-duration: .2s;
    transition-delay: .3s;
}

#t3:hover section:nth-child(2) p.calculate {
    transform: scaleY(.1) translate(16em);
    transition: ease;
    transition-duration: .2s;
    transition-delay: .4s;
}

#t3 section:nth-child(2) svg, 
#t3 section:nth-child(2) h1, 
#t3 section:nth-child(2) p, 
#t3 section:nth-child(2) p.calculate {
    transition: ease;
    transition-duration: .4s;
    transition-delay: .2s;
}

#t3 section:first-child {
    border-radius: 20em;
    top: 0;
    left: 100%;
    scale: .2;
}

#t3:hover section:first-child {
    opacity: 1;
    top: 0;
    transition-delay: .6s;
    border-radius: 0.25em;
    left: 0;
}

section {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: space-between;
}

section:first-child {
    position: absolute;
    top: 100%;
    margin: 0em;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.25em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    transition-duration: .4s;
}

section:first-child p {
    margin: 0em 2em;
    text-align: center;
}

section:first-child h1 {
    margin: 2rem 0;
}

#magenta {
    background-color: #df95df;
}

#cyan {
    background-color: rgb(141, 233, 233);
}

#yellow {
    background-color: rgb(255, 230, 0);
}

section:first-child h1 {
    font-size: 4em;
    text-align: center;
    font-weight: bold;
}

.sub {
    font-family: "Barlow";
    font-weight: normal;
    font-size: 1.5em;
    margin-top: 2em;
    transition: ease;
    transition-duration: .3s;
    text-align: center;
    color: #4169E1;
}

.str-para{
    margin-bottom: 3em;
    margin-top: 0em;
    font-size:1.2em
}

a {
    text-decoration: none;
}

.first1{
    height: 100%;
}










